<html>
  <head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>网页</title>
    {% endif %}
    <link rel="stylesheet" href="/static/layui/css/layui.css" media="all" />
    <script src="/static/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <style>
      .button-container {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
      }
      .canvas-container {
        margin-top: 20px;
        max-width: 100%;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <br />
    <div class="layui-fluid" id="LAY-app-message">
      <div class="layui-row">
        <div class="layui-col-xs12">{% block content %}{% endblock %}</div>
      </div>
    </div>
    {% block js %}{% endblock %}
  </body>
</html>
