<html>
  <head>
    {% if title %}
    <title>{{title}}</title>
    {% else %}
    <title>网页</title>
    {% endif %}
    <link rel="stylesheet" href="./static/layui/css/layui.css" media="all" />
    <script src="./static/jquery.min.js"></script>
    <script src="./static/layui/layui.js"></script>
    <style>
      .image-container {
        max-width: 100%;
        text-align: center;
        margin-top: 20px;
      }
      .image-container img {
        max-width: 100%;
        height: auto;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      #status {
        margin-top: 20px;
        font-size: 1.2em;
        color: #333;
      }
    </style>
  </head>
  <body>
    <ul class="layui-nav layui-bg-gray">
      <li class="layui-nav-item"><a href="/">主页</a></li>
      <li class="layui-nav-item"><a href="/log">日志列表</a></li>
    </ul>
    {% block content %}{% endblock %}
  </body>
</html>
