{% extends 'base.html' %} {% block content %}
  <div class="layui-card">
    <div class="layui-card-header">控制台</div>
    <div class="layui-card-body" pad15="">
      <div class="button-container">
        <button class="layui-btn" id="start-camera-btn">摄像头调用</button>
        <button class="layui-btn" id="start-video-btn">视频调用</button>
        <input type="text" id="video-path" placeholder="Enter video path" class="layui-input" value="test.mp4" style="flex-grow: 1" />
        <button class="layui-btn layui-btn-danger" id="stop-btn" style="display: none">停止</button>
      </div>
      <div id="status"></div>
      <div id="framerate">
        FPS: <span id="fps-value">0</span>
      </div>
      <div class="canvas-container">
        <canvas id="video-canvas" width="640" height="480"></canvas>
      </div>
    </div>
  </div>
{% endblock %} {% block js %}
  <script>
    $(document).ready(function () {
      let logId = null
      let websocket = null
      let frameCount = 0
      let lastTime = performance.now()
      const canvas = document.getElementById('video-canvas')
      const context = canvas.getContext('2d')
      const img = new Image() // 复用一个 img 对象

      // 处理二进制图像数据
      function drawBinaryImage(binaryData) {
        const start_time = performance.now();
        const blob = new Blob([binaryData], { type: 'image/jpeg' });

        createImageBitmap(blob).then(bitmap => {
          const load_time = performance.now();
          context.clearRect(0, 0, canvas.width, canvas.height);
          context.drawImage(bitmap, 0, 0, canvas.width, canvas.height);
          const draw_time = performance.now();
          updateFrameRate();
          const update_time = performance.now();
          console.log(`Load time: ${(load_time - start_time).toFixed(4)}ms`);
          console.log(`Draw time: ${(draw_time - load_time).toFixed(4)}ms`);
          console.log(`Update time: ${(update_time - draw_time).toFixed(4)}ms`);
          console.log(`Total time: ${(update_time - start_time).toFixed(4)}ms`);
        });
      }

      function updateFrameRate() {
        frameCount++
        const now = performance.now()
        const deltaTime = (now - lastTime) / 1000
        if (deltaTime >= 1) {
          const fps = frameCount / deltaTime
          $('#fps-value').text(fps.toFixed(2))
          frameCount = 0
          lastTime = now
        }
      }
      // 启动 WebSocket
      function startWebSocket() {
        websocket = new WebSocket('ws://' + window.location.host + '/ws/stream')

        // 设置二进制类型为 arraybuffer
        websocket.binaryType = 'arraybuffer'

        websocket.onmessage = function (event) {
          // 处理二进制数据
          drawBinaryImage(event.data)
        }

        websocket.onerror = function () {
          $('#status').text('WebSocket connection error.')
          websocket.close()
        }

        websocket.onclose = function () {
          $('#status').text('WebSocket connection closed.')
        }
      }
      // 开始摄像头调用
      $('#start-camera-btn').click(function () {
        $.post('/start_processing', { input_type: 'camera' }, function (data) {
          $('#status').text('Processing started with log ID: ' + data.log_id)
          logId = data.log_id
          $('#stop-btn').show()
          $('#start-camera-btn').hide()
          $('#start-video-btn').hide()
          startWebSocket() // 启动 WebSocket 连接
        }).fail(function () {
          layer.msg('Error starting processing.')
          $('#status').text('Error starting processing.')
        })
      })

      // 开始视频调用
      $('#start-video-btn').click(function () {
        const videoPath = $('#video-path').val()
        $.post('/start_processing', { input_type: 'video', video_path: videoPath }, function (data) {
          $('#status').text('Processing started with log ID: ' + data.log_id)
          logId = data.log_id
          $('#stop-btn').show()
          $('#start-camera-btn').hide()
          $('#start-video-btn').hide()
          startWebSocket() // 启动 WebSocket 连接
        }).fail(function () {
          $('#status').text('Error starting processing.')
        })
      })

      // 停止处理
      $('#stop-btn').click(function () {
        stopProcessing()
      })

      function stopProcessing() {
        $.post('/stop_processing', function () {
          $('#status').text('Processing stopped.')
          $('#stop-btn').hide()
          $('#start-camera-btn').show()
          $('#start-video-btn').show()
          if (websocket) {
            websocket.close() // 关闭 WebSocket 连接
          }
        }).fail(function () {
          $('#status').text('Error stopping processing.')
        })
      }
    })
  </script>
{% endblock %}
