albumentations==1.4.8
clip==0.2.0
comet_ml==3.43.0
coremltools==7.2
dill==0.3.8
duckdb==0.10.3
dvclive==3.46.0
fastapi==0.111.0
hub_sdk==0.0.8
ipython==8.12.3
lancedb==0.8.1
lap==0.4.0
matplotlib==3.8.4
mss==9.0.1
ncnn==1.0.20240410
nncf==2.10.0
numpy==1.26.4
onnx==1.16.1
onnx2tf==1.22.4
onnxruntime==1.18.0
onnxsim==0.4.36
openai==1.30.5
opencv_python==4.9.0.80
openvino==2024.1.0
paddle==1.0.2
pafy==0.5.5
pandas==2.2.2
Pillow==10.3.0
protobuf==5.27.0
psutil==5.9.8
pycocotools==2.0.7
PyYAML==6.0.1
PyYAML==6.0.1
ray==2.23.0
Requests==2.32.3
scipy==1.13.1
seaborn==0.13.2
sentry_sdk==2.3.1
Shapely==2.0.4
streamlit==1.35.0
streamlit_select==0.3
super_gradients==3.7.1
tensorflow==2.16.1
tensorflow_intel==2.16.1
tensorflowjs==4.19.0
tensorrt==10.0.1
tflite_runtime==2.14.0
tflite_support==0.4.4
thop==0.1.1.post2209072238
torch==2.3.0+cu121
torchvision==0.18.0+cu121
tqdm==4.66.2
tritonclient==2.46.0
uvicorn==0.30.0
wandb==0.17.0
x2paddle==1.4.1
yt_dlp==2024.5.27
